<?xml version="1.0" encoding="utf-8"?>
<Media Key="60d874c7-cc46-4f60-a1b1-0b43b51bd13f" Alias="about" Level="2">
  <Info>
    <Parent Key="cafcca15-3963-46d5-a6bd-c40062c0b191">Home Page</Parent>
    <Path>/HomePage/about</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-23T07:52:53</CreateDate>
    <NodeName Default="about" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>