<?xml version="1.0" encoding="utf-8"?>
<Media Key="ddd617d5-33be-4a88-bfc3-067002b4cd1e" Alias="Brand.png" Level="3">
  <Info>
    <Parent Key="75524530-1970-4172-b81c-bfdca0f68884">Site Assets</Parent>
    <Path>/HomePage/SiteAssets/Brandpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T18:51:17</CreateDate>
    <NodeName Default="Brand.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lloja04x/brand.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>