<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd2cc386-54e5-49ec-a341-096084b4400b" Alias="brand1.png" Level="2">
  <Info>
    <Parent Key="f2a6dfaf-9082-496a-bd3e-c5d1d7afca50">Partners</Parent>
    <Path>/Partners/brand1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-23T10:11:07</CreateDate>
    <NodeName Default="brand1.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/beehu02m/brand1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>