<?xml version="1.0" encoding="utf-8"?>
<Media Key="2bd278fd-904d-4879-8fbf-7092e9592153" Alias="brand3.png" Level="2">
  <Info>
    <Parent Key="f2a6dfaf-9082-496a-bd3e-c5d1d7afca50">Partners</Parent>
    <Path>/Partners/brand3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-23T10:11:07</CreateDate>
    <NodeName Default="brand3.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/okzjjhje/brand3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>