<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec474952-f3ab-46e7-b702-37f052399fe7" Alias="Hero" Level="2">
  <Info>
    <Parent Key="cafcca15-3963-46d5-a6bd-c40062c0b191">Home Page</Parent>
    <Path>/HomePage/Hero</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-22T18:10:29</CreateDate>
    <NodeName Default="Hero" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>