<?xml version="1.0" encoding="utf-8"?>
<Media Key="cafcca15-3963-46d5-a6bd-c40062c0b191" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-22T18:08:51</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>