<?xml version="1.0" encoding="utf-8"?>
<Media Key="65bfdf42-e2ad-4a2c-8905-3a741992e65a" Alias="image-104 1.png" Level="3">
  <Info>
    <Parent Key="33bafb19-1bdd-4e74-903b-67f27264aea7">Partners</Parent>
    <Path>/HomePage/Partners/image1041png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T18:13:04</CreateDate>
    <NodeName Default="image-104 1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zukptu4e/image-104-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>