<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d218127-cca9-4944-bb48-b66158f734d3" Alias="image-13-min 1.png" Level="3">
  <Info>
    <Parent Key="8c3083f0-63d2-40e8-b02a-c16d6d99ef09">Services</Parent>
    <Path>/HomePage/Services/image13Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T18:13:38</CreateDate>
    <NodeName Default="image-13-min 1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vbfhps4a/image-13-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>