<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f3b1e66-5477-4bc9-a396-831536dc00f9" Alias="image-24-min 1.png" Level="3">
  <Info>
    <Parent Key="8c3083f0-63d2-40e8-b02a-c16d6d99ef09">Services</Parent>
    <Path>/HomePage/Services/image24Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T18:13:38</CreateDate>
    <NodeName Default="image-24-min 1.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3hkh1wi4/image-24-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>