<?xml version="1.0" encoding="utf-8"?>
<Media Key="7969f30b-c488-4010-8136-49f4b84c3eaa" Alias="image-47 1.png" Level="3">
  <Info>
    <Parent Key="33bafb19-1bdd-4e74-903b-67f27264aea7">Partners</Parent>
    <Path>/HomePage/Partners/image471png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T18:13:04</CreateDate>
    <NodeName Default="image-47 1.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qq2d5t5b/image-47-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>