<?xml version="1.0" encoding="utf-8"?>
<Media Key="1de03c11-52f0-47b4-9e2e-f4924b17eef4" Alias="image-106 1.png" Level="3">
  <Info>
    <Parent Key="33bafb19-1bdd-4e74-903b-67f27264aea7">Partners</Parent>
    <Path>/HomePage/Partners/image1061png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T18:13:04</CreateDate>
    <NodeName Default="image-106 1.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/t11knk2z/image-106-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>