<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea5cdc32-8769-4aa6-b094-871b07ca0bf3" Alias="Img-1 1.png" Level="3">
  <Info>
    <Parent Key="98781555-40f5-4516-aef6-ad6f42d6e582">Team</Parent>
    <Path>/HomePage/Team/Img11png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T18:13:24</CreateDate>
    <NodeName Default="Img-1 1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xulbuxaa/img-1-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>