<?xml version="1.0" encoding="utf-8"?>
<Media Key="d712aded-69cb-4c11-83de-a87c1fe6c760" Alias="img_choose_01_home01 2.png" Level="3">
  <Info>
    <Parent Key="33bafb19-1bdd-4e74-903b-67f27264aea7">Partners</Parent>
    <Path>/HomePage/Partners/img_choose_01_home012png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T18:13:04</CreateDate>
    <NodeName Default="img_choose_01_home01 2.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mjtfiync/img_choose_01_home01-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>