<?xml version="1.0" encoding="utf-8"?>
<Media Key="2019c711-9577-423a-baa5-ee4eb11f3e61" Alias="kevin-gardner.png" Level="3">
  <Info>
    <Parent Key="60d874c7-cc46-4f60-a1b1-0b43b51bd13f">about</Parent>
    <Path>/HomePage/about/kevinGardnerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-23T07:52:53</CreateDate>
    <NodeName Default="kevin-gardner.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tygf5fq4/kevin-gardner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>