<?xml version="1.0" encoding="utf-8"?>
<Media Key="901dc8f1-212b-49b1-98c6-ba805b753052" Alias="Mask-Group-8 1.png" Level="3">
  <Info>
    <Parent Key="33bafb19-1bdd-4e74-903b-67f27264aea7">Partners</Parent>
    <Path>/HomePage/Partners/MaskGroup81png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T18:13:04</CreateDate>
    <NodeName Default="Mask-Group-8 1.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pybfwjsc/mask-group-8-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>