<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4eb37b2-4bf6-451c-ba94-326f7150aa33" Alias="OnlineSignatures.net-302 1.png" Level="3">
  <Info>
    <Parent Key="ec474952-f3ab-46e7-b702-37f052399fe7">Hero</Parent>
    <Path>/HomePage/Hero/OnlineSignaturesnet3021png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T18:12:55</CreateDate>
    <NodeName Default="OnlineSignatures.net-302 1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hx4l0qu5/onlinesignaturesnet-302-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>