<?xml version="1.0" encoding="utf-8"?>
<Media Key="33bafb19-1bdd-4e74-903b-67f27264aea7" Alias="Partners" Level="2">
  <Info>
    <Parent Key="cafcca15-3963-46d5-a6bd-c40062c0b191">Home Page</Parent>
    <Path>/HomePage/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-22T18:11:19</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>