<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2a6dfaf-9082-496a-bd3e-c5d1d7afca50" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-23T10:10:47</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>