<?xml version="1.0" encoding="utf-8"?>
<Media Key="7aaf477f-9160-40a9-8978-99fb5426a5b6" Alias="Video.png" Level="3">
  <Info>
    <Parent Key="98781555-40f5-4516-aef6-ad6f42d6e582">Team</Parent>
    <Path>/HomePage/Team/Videopng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T20:06:00</CreateDate>
    <NodeName Default="Video.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4cgpttaj/video.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>