<?xml version="1.0" encoding="utf-8"?>
<Content Key="12a3e9ad-6bcf-4794-9a4b-8e7f0c93ad55" Alias="Contact" Level="2">
  <Info>
    <Parent Key="8d5eed2b-b08e-4e0e-b15a-9c188f42e808">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2025-10-24T09:03:34</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8dcd85ea-a0af-4437-ab2b-506f947dfb9b">modularPage</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[Get in touch with Onatrix. We're here to help with all your financial needs.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[contact, get in touch, financial advice, consultation]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[Contact Us - Onatrix Financial Solutions]]></Value>
    </metaTitle>
    <pageLayout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b2066680-0f99-4e6d-8f4a-2e747bc99c25",
      "key": "bad6b78a-c262-4f51-84b4-8a9d38d7b8ed",
      "udi": null,
      "values": [
        {
          "alias": "formHeadline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "formDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat"
        }
      ]
    },
    {
      "contentTypeKey": "4080e05a-9a1f-490d-beef-de74e5bdc0c0",
      "key": "ff801b1f-5aab-4a81-b677-c8633e6b0701",
      "udi": null,
      "values": [
        {
          "alias": "officeLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "phoneNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 76"
        },
        {
          "alias": "emailAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3add32da-d400-4c81-ac61-a96609ec3586",
              "mediaKey": "03f811cf-50d4-42ee-865b-19d46a40ac28",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3b5addb0-2784-4c95-90c6-bb0fbbee568b",
              "mediaKey": "261f9f91-817a-4bc3-976d-c03727e22bba",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "ccfca48c-f811-42a7-ad1a-fc74d4ec9b7c",
      "key": "dce17d82-73f8-4137-aab5-43936607ab9b",
      "udi": null,
      "values": [
        {
          "alias": "sectionLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "REQUEST A CALL BACK"
        },
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        },
        {
          "alias": "mapEmbedCode",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u003Ciframe src=\u0022https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2210.0588550953853!2d18.051250212867245!3d59.330247274508864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d61b5b2a595%3A0xd9fa560691e12d7!2sKlarabergsviadukten%2090%2C%20111%2064%20Stockholm!5e1!3m2!1ssv!2sse!4v1761290007109!5m2!1ssv!2sse\u0022 width=\u0022600\u0022 height=\u0022450\u0022 style=\u0022border:0;\u0022 allowfullscreen=\u0022\u0022 loading=\u0022lazy\u0022 referrerpolicy=\u0022no-referrer-when-downgrade\u0022\u003E\u003C/iframe\u003E"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "bad6b78a-c262-4f51-84b4-8a9d38d7b8ed",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ff801b1f-5aab-4a81-b677-c8633e6b0701",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "dce17d82-73f8-4137-aab5-43936607ab9b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "bad6b78a-c262-4f51-84b4-8a9d38d7b8ed",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ff801b1f-5aab-4a81-b677-c8633e6b0701",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "dce17d82-73f8-4137-aab5-43936607ab9b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </pageLayout>
    <pagePreamble>
      <Value><![CDATA[]]></Value>
    </pagePreamble>
    <pageSubtitle>
      <Value><![CDATA[]]></Value>
    </pageSubtitle>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>