<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d5eed2b-b08e-4e0e-b15a-9c188f42e808" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-22T11:48:09</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2ccc299d-dce8-49a0-99ed-cf9bc208a95d">homePage</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[We provide expert financial advice and solutions to help your business grow. Over 40 years of experience in risk management, bonds, and financial advisory.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[financial solutions, business growth, risk management, financial advisor]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[Onatrix - Financial Solutions for Your Business]]></Value>
    </metaTitle>
    <pageLayout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "839b6c60-705b-49c2-a7ec-fc748656e03b",
      "key": "c86c6b8e-cd91-4d42-b00a-1c5934747d20",
      "udi": null,
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have 40 years experience"
        },
        {
          "alias": "sectionLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ABOUT US"
        },
        {
          "alias": "quote",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have over 25 years of experience providing expert financial advice to both businesses and individuals."
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/p\u003E"
          }
        },
        {
          "alias": "signatureImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "65fcb8d6-297c-4011-8b4c-bf42718becf8",
              "mediaKey": "f4eb37b2-4bf6-451c-ba94-326f7150aa33",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "signatureName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox - CEO \u0026 Founder"
        }
      ]
    },
    {
      "contentTypeKey": "8c3a8442-1aa6-4739-b5fb-dac58c89ed60",
      "key": "b52855e4-aa94-4798-87bc-cd65ae78783f",
      "udi": null,
      "values": [
        {
          "alias": "sectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We Provide The Solutions To Grow Your Business Faster"
        },
        {
          "alias": "services",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "cd35901e-4a84-4acd-9470-e472137aa7e9",
                "key": "6e9874e8-c9bc-40e6-a20c-5d212605b52f",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Risk Management"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e61cb53a-ffee-4872-af66-2ed5b153ab3f",
                        "mediaKey": "8a42081c-7a49-4228-aac7-f2dfabb2284f",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non"
                  }
                ]
              },
              {
                "contentTypeKey": "cd35901e-4a84-4acd-9470-e472137aa7e9",
                "key": "35d8095f-b0ec-4caf-951d-7936fe8edcd9",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bonds \u0026 Commodities"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b56e5cdf-b102-43d2-8a6a-11cb5a850faa",
                        "mediaKey": "eeadcefe-793c-4151-9c3e-a26c2433bcac",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non"
                  }
                ]
              },
              {
                "contentTypeKey": "cd35901e-4a84-4acd-9470-e472137aa7e9",
                "key": "5f3b8002-e286-4c9c-956b-438d6a7a707c",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Assurance \u0026 Audits"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "612e0a63-0353-4dda-beb5-8da4955057cf",
                        "mediaKey": "7d218127-cca9-4944-bb48-b66158f734d3",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non"
                  }
                ]
              },
              {
                "contentTypeKey": "cd35901e-4a84-4acd-9470-e472137aa7e9",
                "key": "e2c53298-f37c-4aed-9513-757319b39b6d",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tax and Trusts"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "05577cb2-f1b2-4117-b885-fb505965834a",
                        "mediaKey": "ecb5132f-6361-45ab-872e-4275b80cae43",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non"
                  }
                ]
              },
              {
                "contentTypeKey": "cd35901e-4a84-4acd-9470-e472137aa7e9",
                "key": "f9d3f76a-19d0-4b85-a388-3b0616a5a8d4",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e400718a-3aaa-41bf-9cdf-ddcb194132d0",
                        "mediaKey": "c3d1147b-917d-437a-b7e2-ed462f73bbf9",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non"
                  }
                ]
              },
              {
                "contentTypeKey": "cd35901e-4a84-4acd-9470-e472137aa7e9",
                "key": "cace943c-d3f9-4f52-b4e0-795b28e2318c",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Statistic Advisors"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "79838b00-9f2e-4438-90b1-c061a62a3c7c",
                        "mediaKey": "6f3b1e66-5477-4bc9-a396-831536dc00f9",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "6e9874e8-c9bc-40e6-a20c-5d212605b52f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "35d8095f-b0ec-4caf-951d-7936fe8edcd9",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5f3b8002-e286-4c9c-956b-438d6a7a707c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e2c53298-f37c-4aed-9513-757319b39b6d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f9d3f76a-19d0-4b85-a388-3b0616a5a8d4",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "cace943c-d3f9-4f52-b4e0-795b28e2318c",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "6e9874e8-c9bc-40e6-a20c-5d212605b52f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "35d8095f-b0ec-4caf-951d-7936fe8edcd9",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "5f3b8002-e286-4c9c-956b-438d6a7a707c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e2c53298-f37c-4aed-9513-757319b39b6d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f9d3f76a-19d0-4b85-a388-3b0616a5a8d4",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "cace943c-d3f9-4f52-b4e0-795b28e2318c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "9dce6195-0ebc-4eb8-954d-380f6ec79fbc",
      "key": "c5334317-93d2-4856-b255-d994c7de9d1b",
      "udi": null,
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "preamble",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim"
        },
        {
          "alias": "buttonText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Contact us"
        },
        {
          "alias": "buttonUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/8d5eed2bb08e4e0eb15a9c188f42e808"
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "992652e0-3219-4299-a35c-9c52ad849b17",
              "mediaKey": "44825a0c-1a7d-4137-8dfc-c8336c166aae",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "64451c8b-367f-46fc-9d13-926c56a258de",
      "key": "636ce3dd-10e3-425b-8ce9-327d54fba827",
      "udi": null,
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We are trusted by more than"
        },
        {
          "alias": "highlightedText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4,000\u002B clients"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat."
        },
        {
          "alias": "buttonText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Read our story"
        },
        {
          "alias": "buttonUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/8d5eed2bb08e4e0eb15a9c188f42e808"
        },
        {
          "alias": "sectionImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "377d0053-1d75-4042-a9ea-bec58bed3260",
              "mediaKey": "ea5cdc32-8769-4aa6-b094-871b07ca0bf3",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "680b4369-43f2-47d5-8b97-a5f474b15809",
              "mediaKey": "453429ff-947f-46cc-a00c-2eabd6c6a4c0",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "c77765f8-b861-44df-912d-2bf67ac9757f",
      "key": "ec815c59-2a80-4762-a07b-0a7c6e3df409",
      "udi": null,
      "values": [
        {
          "alias": "sectionLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUCCESS STORIES"
        },
        {
          "alias": "sectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success story"
        },
        {
          "alias": "sectionImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cfbf6067-1f0c-4b2f-9dbb-4042e5d4ded8",
              "mediaKey": "7aaf477f-9160-40a9-8978-99fb5426a5b6",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "statistics",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "0cbbf10e-f589-4c73-8246-737c3d76a4d2",
                "key": "98b8d897-0741-4c12-a14e-ef0d5b2548fd",
                "udi": null,
                "values": [
                  {
                    "alias": "number",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "689"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 100 customers has been served"
                  }
                ]
              },
              {
                "contentTypeKey": "0cbbf10e-f589-4c73-8246-737c3d76a4d2",
                "key": "8449a9e8-b349-4955-b926-ab9cf834fc0b",
                "udi": null,
                "values": [
                  {
                    "alias": "number",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "370"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 370 projects has been completed"
                  }
                ]
              },
              {
                "contentTypeKey": "0cbbf10e-f589-4c73-8246-737c3d76a4d2",
                "key": "ed41537f-0f44-4906-8da3-f9c5c008d71e",
                "udi": null,
                "values": [
                  {
                    "alias": "number",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "125"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 125 branches has been established in Europe and America"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "98b8d897-0741-4c12-a14e-ef0d5b2548fd",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "8449a9e8-b349-4955-b926-ab9cf834fc0b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ed41537f-0f44-4906-8da3-f9c5c008d71e",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "98b8d897-0741-4c12-a14e-ef0d5b2548fd",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "8449a9e8-b349-4955-b926-ab9cf834fc0b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ed41537f-0f44-4906-8da3-f9c5c008d71e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6fa96daa-9327-4a0b-bf98-9f90cb353f09",
              "mediaKey": "17f415d1-13f3-45db-9ea2-e2000174c956",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d2eec13d-707a-44fd-a533-a9e40d7a0a17",
      "key": "d8989f78-b85f-4f6e-9bb7-9ac12619c63f",
      "udi": null,
      "values": [
        {
          "alias": "partnerLogos",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5c3570b1-ddfa-4ece-922d-e81ffde95485",
              "mediaKey": "a3833470-7bd2-4d49-9889-bdfff693dfcf",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "b3e56f0b-a024-4d52-8b0a-f6e647e7ca16",
              "mediaKey": "965c19d7-5819-47bc-b6d7-6fe4ae089622",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "edfee574-ab5d-476b-baf1-d954a04ad00a",
              "mediaKey": "2bd278fd-904d-4879-8fbf-7092e9592153",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "c33826ef-df1a-494a-8bce-ea44a053de67",
              "mediaKey": "dd2cc386-54e5-49ec-a341-096084b4400b",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "40915ffe-322f-4505-98ea-57779f6b9f26",
              "mediaKey": "98d28cc6-1dfc-488f-aa8b-14a403b3e9fa",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "bc5e39ed-ed47-47ba-b280-1806ab5f626f",
              "mediaKey": "07e4c743-fbe4-416f-8b39-1c237dd88980",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c86c6b8e-cd91-4d42-b00a-1c5934747d20",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b52855e4-aa94-4798-87bc-cd65ae78783f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c5334317-93d2-4856-b255-d994c7de9d1b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "636ce3dd-10e3-425b-8ce9-327d54fba827",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ec815c59-2a80-4762-a07b-0a7c6e3df409",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d8989f78-b85f-4f6e-9bb7-9ac12619c63f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c5334317-93d2-4856-b255-d994c7de9d1b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c86c6b8e-cd91-4d42-b00a-1c5934747d20",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b52855e4-aa94-4798-87bc-cd65ae78783f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "636ce3dd-10e3-425b-8ce9-327d54fba827",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ec815c59-2a80-4762-a07b-0a7c6e3df409",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d8989f78-b85f-4f6e-9bb7-9ac12619c63f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </pageLayout>
    <pagePreamble>
      <Value><![CDATA[]]></Value>
    </pagePreamble>
    <pageSubtitle>
      <Value><![CDATA[]]></Value>
    </pageSubtitle>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>