<?xml version="1.0" encoding="utf-8"?>
<Content Key="081861b5-8534-478c-9a91-bc9a9e996e30" Alias="Services" Level="2">
  <Info>
    <Parent Key="8d5eed2b-b08e-4e0e-b15a-9c188f42e808">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2025-10-23T12:58:49</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8dcd85ea-a0af-4437-ab2b-506f947dfb9b">modularPage</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[Our Services - Onatrix Financial Solutions]]></Value>
    </metaTitle>
    <pageLayout>
      <Value><![CDATA[]]></Value>
    </pageLayout>
    <pagePreamble>
      <Value><![CDATA[]]></Value>
    </pagePreamble>
    <pageSubtitle>
      <Value><![CDATA[]]></Value>
    </pageSubtitle>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>