<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1064ff7-8a19-451f-99d2-349ed1255b09" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-22T11:27:12</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </emailAddress>
    <facebookUrl>
      <Value><![CDATA[https://facebook.com]]></Value>
    </facebookUrl>
    <footerText>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to Themesflat]]></Value>
    </footerText>
    <linkedInUrl>
      <Value><![CDATA[https://linkedin.com]]></Value>
    </linkedInUrl>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <phoneNumber>
      <Value><![CDATA[+46 8 123 456 78]]></Value>
    </phoneNumber>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "93f414a6-5c6d-4000-8afc-8b65832045a8",
    "mediaKey": "ddd617d5-33be-4a88-bfc3-067002b4cd1e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial Solutions for Your Business]]></Value>
    </siteTagline>
    <twitterUrl>
      <Value><![CDATA[https://twitter.com]]></Value>
    </twitterUrl>
  </Properties>
</Content>