<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ceed469-137e-491b-98b0-e79e83308b29" Alias="homePage - Page Layout - Block List Property Editor UI" Level="1">
  <Info>
    <Name>homePage - Page Layout - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9dce6195-0ebc-4eb8-954d-380f6ec79fbc"
    },
    {
      "contentElementTypeKey": "839b6c60-705b-49c2-a7ec-fc748656e03b"
    },
    {
      "contentElementTypeKey": "8c3a8442-1aa6-4739-b5fb-dac58c89ed60"
    },
    {
      "contentElementTypeKey": "64451c8b-367f-46fc-9d13-926c56a258de"
    },
    {
      "contentElementTypeKey": "c77765f8-b861-44df-912d-2bf67ac9757f"
    },
    {
      "contentElementTypeKey": "d2eec13d-707a-44fd-a533-a9e40d7a0a17"
    },
    {
      "contentElementTypeKey": "081fd0ea-3db7-4449-a816-2a4822f532e4"
    }
  ]
}]]></Config>
</DataType>