<?xml version="1.0" encoding="utf-8"?>
<DataType Key="68043b3c-6ceb-4921-b01b-32e56c4c23ff" Alias="modularPage - Page Layout - Block List Property Editor UI" Level="1">
  <Info>
    <Name>modularPage - Page Layout - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9dce6195-0ebc-4eb8-954d-380f6ec79fbc"
    },
    {
      "contentElementTypeKey": "839b6c60-705b-49c2-a7ec-fc748656e03b"
    },
    {
      "contentElementTypeKey": "8c3a8442-1aa6-4739-b5fb-dac58c89ed60"
    },
    {
      "contentElementTypeKey": "64451c8b-367f-46fc-9d13-926c56a258de"
    },
    {
      "contentElementTypeKey": "c77765f8-b861-44df-912d-2bf67ac9757f"
    },
    {
      "contentElementTypeKey": "d2eec13d-707a-44fd-a533-a9e40d7a0a17"
    },
    {
      "contentElementTypeKey": "eb8094bd-fb59-4b07-b621-7ede5687ff0a"
    },
    {
      "contentElementTypeKey": "060487d1-2e92-48c6-9ecd-2b275ff972cb"
    },
    {
      "contentElementTypeKey": "e90fbd02-1a83-44e6-a377-483269872e86"
    },
    {
      "contentElementTypeKey": "70261b1d-a20f-4acd-a92b-dc7b0e235c77"
    },
    {
      "contentElementTypeKey": "4080e05a-9a1f-490d-beef-de74e5bdc0c0"
    },
    {
      "contentElementTypeKey": "b2066680-0f99-4e6d-8f4a-2e747bc99c25"
    },
    {
      "contentElementTypeKey": "ccfca48c-f811-42a7-ad1a-fc74d4ec9b7c"
    }
  ]
}]]></Config>
</DataType>