<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c71fad3f-bb68-48be-a735-9560228c7870" Alias="serviceItem - Page Layout - Block List Property Editor UI" Level="1">
  <Info>
    <Name>serviceItem - Page Layout - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "eb8094bd-fb59-4b07-b621-7ede5687ff0a"
    },
    {
      "contentElementTypeKey": "060487d1-2e92-48c6-9ecd-2b275ff972cb"
    },
    {
      "contentElementTypeKey": "4080e05a-9a1f-490d-beef-de74e5bdc0c0"
    },
    {
      "contentElementTypeKey": "b2066680-0f99-4e6d-8f4a-2e747bc99c25"
    }
  ]
}]]></Config>
</DataType>