<?xml version="1.0" encoding="utf-8"?>
<DataType Key="df0fbfe2-a34d-4b1f-8796-e502443c5735" Alias="servicesGridBlock - Services - Block List Property Editor UI" Level="1">
  <Info>
    <Name>servicesGridBlock - Services - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cd35901e-4a84-4acd-9470-e472137aa7e9"
    }
  ]
}]]></Config>
</DataType>