<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eaad8fa5-5d42-4319-8e40-ef347c46e196" Alias="successStoryBlock - Statistics - Block List Property Editor UI" Level="1">
  <Info>
    <Name>successStoryBlock - Statistics - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0cbbf10e-f589-4c73-8246-737c3d76a4d2"
    }
  ]
}]]></Config>
</DataType>