<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fa6c812e-3921-492a-997b-60fed0cb62f3" Alias="teamMemberBlock - Member Image - Media Picker Property Editor UI" Level="1">
  <Info>
    <Name>teamMemberBlock - Member Image - Media Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>