<?xml version="1.0" encoding="utf-8"?>
<DataType Key="653b80de-b368-43c8-be67-bde2566780fd" Alias="teamGridBlock - Team Members - Block List Property Editor UI" Level="1">
  <Info>
    <Name>teamGridBlock - Team Members - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "92278d2d-3f75-4421-809a-942ef7893e2e"
    }
  ]
}]]></Config>
</DataType>