<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9434ab42-00bf-468f-8cec-da0917eca0c7" Alias="homePage" Level="1">
  <Info>
    <Name>homePage</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="87219e6d-7d6d-4364-a6b8-985b559c2633">pageHeaderComposition</Composition>
      <Composition Key="0499d8a5-07c9-494d-b06d-0a66b5044132">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>homePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2ccc299d-dce8-49a0-99ed-cf9bc208a95d">homePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6f0b42b5-8a46-48ea-9f3e-920446adfef2" SortOrder="0">modularPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b4eacdc2-52b3-4bf2-8353-22cbdc4d550f</Key>
      <Name>Page Layout</Name>
      <Alias>pageLayout</Alias>
      <Definition>4ceed469-137e-491b-98b0-e79e83308b29</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flexible content blocks for the page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageContent">Page Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b4fc7d50-b18b-46a7-9b93-f9c5bc283b1c</Key>
      <Caption>Page Content</Caption>
      <Alias>pageContent</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>