<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6f0b42b5-8a46-48ea-9f3e-920446adfef2" Alias="modularPage" Level="1">
  <Info>
    <Name>modularPage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="87219e6d-7d6d-4364-a6b8-985b559c2633">pageHeaderComposition</Composition>
      <Composition Key="0499d8a5-07c9-494d-b06d-0a66b5044132">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>modularPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8dcd85ea-a0af-4437-ab2b-506f947dfb9b">modularPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6f0b42b5-8a46-48ea-9f3e-920446adfef2" SortOrder="0">modularPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>bc82a3d0-b3ec-4c6d-b2db-e99678ee83a5</Key>
      <Name>Page Layout</Name>
      <Alias>pageLayout</Alias>
      <Definition>68043b3c-6ceb-4921-b01b-32e56c4c23ff</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flexible content blocks for the page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageContent">Page Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e61a5fd7-8af9-48e6-bb76-246934ec1230</Key>
      <Caption>Page Content</Caption>
      <Alias>pageContent</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>