<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3b29d726-d143-464b-82d2-7c9353e8a0cf" Alias="serviceItem" Level="1">
  <Info>
    <Name>serviceItem</Name>
    <Icon>icon-briefcase</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="87219e6d-7d6d-4364-a6b8-985b559c2633">pageHeaderComposition</Composition>
      <Composition Key="0499d8a5-07c9-494d-b06d-0a66b5044132">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>serviceItem</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d27e103a-472d-4640-81bb-777f8c704227">serviceItem</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1896da48-7ba5-457b-ace3-f7b046fc3125</Key>
      <Name>Page Layout</Name>
      <Alias>pageLayout</Alias>
      <Definition>c71fad3f-bb68-48be-a735-9560228c7870</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Flexible content blocks for service details]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="serviceContent">Service Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b3b83dff-3d94-452a-b740-01cbe56dba31</Key>
      <Caption>Service Content</Caption>
      <Alias>serviceContent</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>